* {
    margin: 0;
    padding: 0;
}
.main_cont {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    backdrop-filter: blur(30px);
    background: transparent;
    box-shadow: 0 0.5px 0 1px rgba(255, 255, 255, 0.23) inset, 0 1px 0 0 rgba(255, 255, 255, 0.66) inset, 0 4px 16px rgba(0, 0, 0, 0.12);
    /* padding-bottom:  30px; */
    border-radius: 6px;
    overflow: hidden;
    flex-direction: column;
}
.message_cont {
    height: 70vh;
    border-radius: 6px;
    padding: 2vh;
    overflow:auto;
    overflow-x: hidden;
}

.modalWin {
    flex-direction: column;
    background-color: #D3D5D4;
    color: black;
    width: 50%;
    height: 50%;
    z-index: 1;
    display: flex;
    position: fixed;
    border-radius: 50px;
    padding: 20px;
    margin-top: 50px;
}
.auth_input {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 100%;
    flex-direction: column;
}

.main_body {
    height: auto;
}

.btnCancel {
    display: flex;
    justify-content: center; 
    align-items: center;
    cursor: pointer;
    /* position: fixed; */
    background: #d34e11;
    bottom: 3%;
    overflow: hidden;
    z-index: 3;
    color: #D3D5D4;
    font-size: 20px;
    height: 40px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 25px;
}

.btnCreate{
    display: flex;
    justify-content: center; 
    align-items: center;
    cursor: pointer;
    /* position: fixed; */
    background: #16324F;
    bottom: 3%;
    overflow: hidden;
    z-index: 3;
    color: #D3D5D4;
    font-size: 20px;
    height: 40px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 25px;
}
.btnCreate:hover {
    background: #13293D;
}
.btnCancel:hover {
    background: #97380d;
}
.btnContainer {
    display: flex;
    /* position: relative; */
    justify-content: center; 
    align-items: center;
    /* top: 80%; */
    gap: 20px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin-bottom: 10px;
}

.in {
    height: 50px;
    width: 72%;
    background: transparent;
    display: flex;
    justify-content: center;
    border: none;
    outline: none;
    background-color: rgb(241, 239, 239);
    border-radius: 6px;
    color: grey;
    padding-right: 40px;
    padding-left: 10px;
    font-size: 19px;
    margin-top: 5px; 
    margin-left: 10px;
}
.btnContainerCJ {
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-direction: row;
    position: fixed;
    bottom: 3%;
    z-index: 3;
}
.mess_box {
    background-color: rgb(241, 239, 239);
    border-radius: 6px;
    width: 45vw;
    font-size: 20px;
    padding: 20px;
    margin-top: 1vh;
    overflow: hidden;
    word-wrap: break-word;
    text-align: left;
}
.mess_input .in_mess {
    padding: 10px;
    width: 100%;
    background: transparent;
    border: none;
    background-color: rgb(241, 239, 239);
    border-radius: 6px;
    color: grey;
    padding-left: 6px;
    font-size: 19px;
}
.name {
    font-size: 20px;
}
.mess_input {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 3%;
    right: 3%;
    bottom: 3%;
}
.chatHeader {
    /* padding: 10px; */
}

@media (max-width: 375px) {
    .message_cont {
        height: 55vh;
        border-radius: 6px;
        padding: 2vh;
        overflow:auto;
        overflow-x: hidden;
    }
}

@media (max-height: 820px) {
    .message_cont {
        height: 60vh;
        border-radius: 6px;
        padding: 2vh;
        overflow:auto;
        overflow-x: hidden;
    }

    .mess_box {
        padding: 12px;
    }

    .chatHeader {
        /* padding: 0px; */
    }
}


@media (max-width: 480px) {
    .message_cont {
        height: 55vh;
        border-radius: 6px;
        padding: 2vh;
        overflow:auto;
        overflow-x: hidden;
    }
    .chatHeader {
        /* padding: 5px; */
        font-size: 15px;
    }

    .mess_box {
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    .message_cont {
        height: 60vh;
        border-radius: 6px;
        padding: 2vh;
        overflow:auto;
        overflow-x: hidden;
    }

    .chatHeader {
        /* padding: 0px; */
        font-size: 18px;
    }

    .mess_box {
        font-size: 18px;
        padding: 12px;
    }
}